# CS471 Project 1 Analysis

# In this file, I will be analyzing the 10 functions and their fitness outputs by finding out the average, standard deviation, range, median, and the overal time in milliseconds

In [23]:
# Author: Zack Lee
# import statements
import pandas as pd
import numpy as np
import csv
# format scientific notation
pd.options.display.float_format = "{:.1f}".format

In [24]:
# get the data into a dataframe
raw_data_df = pd.read_csv('results.csv') 
raw_data_df

      fitness  runtime_ms
0     12705.3         0.0
1     11740.8         0.0
2     13681.1         0.0
3     12171.6         0.0
4     12451.2         0.0
...       ...         ...
8995    689.0         0.0
8996  -1641.6         0.0
8997   3157.9         0.0
8998  -1680.4         0.0
8999  -1030.5         0.0

[9000 rows x 2 columns]

In [25]:
# split the dataframe into 10 different dataframes, one for each function
schwefelFunction_df = raw_data_df.iloc[0:900]
dejongFunction_df = raw_data_df.iloc[900:1800]
rosenbrockFunction_df = raw_data_df.iloc[1800:2700]
rastriginFunction_df = raw_data_df.iloc[2700:3600]
griewankFunction_df = raw_data_df.iloc[3600:4500]
sineEnvelopeSineWaveFunction_df = raw_data_df.iloc[4500:5400]
stretchedVSineWaveFunction_df = raw_data_df.iloc[5400:6300]
ackleyOneFunction_df = raw_data_df.iloc[6300:7200]
ackleyTwoFunction_df = raw_data_df.iloc[7200:8100]
eggHolderFunction_df = raw_data_df.iloc[8100:9000]

# Create functions to find the desired statistical data

In [26]:
# create a function to find the average fitness of a function based on the resulting fitness values
def average_fitness(df):
    return df["fitness"].mean()
    
# create a function to get the standard deviation
def fitness_standard_deviation(df):
    return df["fitness"].std()

# create a function to find the range
def fitness_range(df):
    return df["fitness"].max() - df["fitness"].min()

# create a function to find the median
def fitness_median(df):
    return df["fitness"].median()

# create a function to calculate the total time for each function 
def total_function_time(df):
    return df["runtime_ms"].sum()

# Call each dataframe with each statistical analysis function and put it into one final dataframe

In [27]:
function_dfs = {
    "Schwefel": schwefelFunction_df,
    "1st De Jong": dejongFunction_df,
    "Rosenbrock": rosenbrockFunction_df,
    "Rastrigin": rastriginFunction_df,
    "Griewank": griewankFunction_df,
    "Sine Envelope Sine Wave": sineEnvelopeSineWaveFunction_df,
    "Stretched V Sine Wave": stretchedVSineWaveFunction_df,
    "Ackley's One": ackleyOneFunction_df,
    "Ackley's Two": ackleyTwoFunction_df,
    "Egg Holder": eggHolderFunction_df
}

summary_rows = []

for name, df in function_dfs.items():
    summary_rows.append({
        "Function": name,
        "Average": average_fitness(df),
        "Median": fitness_median(df),
        "SD": fitness_standard_deviation(df),
        "Range": fitness_range(df),
        "Total Runtime (MS)": total_function_time(df)
    })

summary_df = pd.DataFrame(summary_rows)
summary_df.round(1)

,Function,Average,Median,SD,Range,Total Runtime (MS)
0,Schwefel,12644.1,12645.5,1176.1,7818.3,90.4
1,1st De Jong,99987.0,100583.5,16629.7,113334.9,59.7
2,Rosenbrock,56969136000.0,56154300000.0,14638236960.2,100180500000.0,30.5
3,Rastrigin,2704891.7,2715660.0,467932.5,2937380.0,297.3
4,Griewank,625.7,622.8,100.7,603.6,219.7
5,Sine Envelope Sine Wave,-21.2,-21.1,1.3,7.1,15.7
6,Stretched V Sine Wave,360.8,361.0,56.2,315.0,132.6
7,Ackley's One,578.5,581.7,57.3,347.8,84.8
8,Ackley's Two,583.2,585.5,16.7,108.6,261.0
9,Egg Holder,-102.9,-119.6,1551.4,9770.8,261.9

# OPTIONAL

# Display each function and its values

In [30]:
schwefelFunction_df

     fitness  runtime_ms
0    12705.3         0.0
1    11740.8         0.0
2    13681.1         0.0
3    12171.6         0.0
4    12451.2         0.0
..       ...         ...
895  12007.9         0.0
896  12882.6         0.0
897  12591.5         0.0
898  11416.4         0.0
899  11304.4         0.0

[900 rows x 2 columns]

In [31]:
dejongFunction_df

      fitness  runtime_ms
900  114998.0         0.0
901  126197.0         0.0
902  101113.0         0.0
903   82707.7         0.0
904   75476.1         0.0
...       ...         ...
1795  68696.0         0.0
1796 122037.0         0.0
1797 119038.0         0.0
1798 115968.0         0.0
1799 101082.0         0.0

[900 rows x 2 columns]

In [32]:
rosenbrockFunction_df

           fitness  runtime_ms
1800 89356500000.0         0.0
1801 63904800000.0         0.0
1802 68153800000.0         0.0
1803 74959400000.0         0.0
1804 92593400000.0         0.0
...            ...         ...
2695 69439400000.0         0.0
2696 59431000000.0         0.0
2697 45238400000.0         0.0
2698 52833900000.0         0.0
2699 74257100000.0         0.0

[900 rows x 2 columns]

In [33]:
rastriginFunction_df

       fitness  runtime_ms
2700 2801040.0         0.0
2701 2861340.0         0.0
2702 2561690.0         0.0
2703 2928910.0         0.0
2704 2654860.0         0.0
...        ...         ...
3595 3274320.0         0.0
3596 2625440.0         0.0
3597 2668400.0         0.0
3598 3125660.0         0.0
3599 2789360.0         0.0

[900 rows x 2 columns]

In [34]:
griewankFunction_df

      fitness  runtime_ms
3600    603.9         0.0
3601    751.3         0.0
3602    520.6         0.0
3603    575.4         0.0
3604    779.1         0.0
...       ...         ...
4495    614.0         0.0
4496    711.7         0.0
4497    538.8         0.0
4498    619.6         0.0
4499    784.7         0.0

[900 rows x 2 columns]

In [35]:
sineEnvelopeSineWaveFunction_df

      fitness  runtime_ms
4500    -20.9         0.0
4501    -21.8         0.0
4502    -21.3         0.0
4503    -20.0         0.0
4504    -20.0         0.0
...       ...         ...
5395    -21.9         0.0
5396    -21.8         0.0
5397    -19.8         0.0
5398    -20.8         0.0
5399    -21.4         0.0

[900 rows x 2 columns]

In [36]:
stretchedVSineWaveFunction_df

      fitness  runtime_ms
5400    357.3         0.0
5401    424.5         0.0
5402    332.7         0.0
5403    362.6         0.0
5404    289.5         0.0
...       ...         ...
6295    360.5         0.0
6296    321.5         0.0
6297    332.8         0.0
6298    365.5         0.0
6299    369.6         0.0

[900 rows x 2 columns]

In [37]:
ackleyOneFunction_df

      fitness  runtime_ms
6300    539.0         0.0
6301    573.9         0.0
6302    570.4         0.0
6303    519.5         0.0
6304    659.4         0.0
...       ...         ...
7195    548.7         1.2
7196    562.2         1.2
7197    493.1         1.2
7198    630.2         1.2
7199    599.5         1.2

[900 rows x 2 columns]

In [38]:
ackleyTwoFunction_df

      fitness  runtime_ms
7200    582.5         0.0
7201    604.3         0.0
7202    598.0         0.0
7203    589.9         0.0
7204    603.8         0.0
...       ...         ...
8095    610.4         0.0
8096    581.4         0.0
8097    577.1         0.0
8098    584.5         0.0
8099    562.3         0.0

[900 rows x 2 columns]

In [39]:
eggHolderFunction_df

      fitness  runtime_ms
8100  -3160.0         0.0
8101   2241.6         0.0
8102   -348.4         0.0
8103    894.4         0.0
8104   1720.4         0.0
...       ...         ...
8995    689.0         0.0
8996  -1641.6         0.0
8997   3157.9         0.0
8998  -1680.4         0.0
8999  -1030.5         0.0

[900 rows x 2 columns]